.container {
  font-family: Arial, sans-serif;
  margin: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

}
table,
th,
td {
  border: 1px solid #ccc;
}
th,
td {
  padding: 8px;
  text-align: left;
}
tr.reviewed {
  text-decoration: line-through;
}
tr.error {
  background-color: #ffcccc;
}
tr:hover {
  background-color: #efefef;
  cursor: pointer;
}
tr:hover.error {
  background-color: #eebbbb;
  cursor: pointer;
}
#viewContainer {
  display: flex;
  gap: 10px;
  height: 800px;
  
}
.frame {
  width: 100%;
  flex: 1;
  // height: 100%;
  border: 1px solid #aaa;
  // overflow: auto;
}
iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  overflow: auto;
}
#left,
#right {
  flex: 1;
}
#snapshotContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
}
#snapshotContainer img {
  max-width: 100%;
  max-height: 100%;
}
textarea {
  width: 100%;
}



.table-container {
  max-height: 400px; /* Adjust this height as needed */
  overflow-y: auto;
  margin-bottom: 20px;
}

// /* Make table header sticky */
#comparisonTable th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}

// /* Fixed bottom container */
.bottom-container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* Adjust height as needed */
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.last-clicked {
  // border: 2px solid rgb(189, 240, 86);
  background-color: rgb(214, 248, 146);
}
table th,
table td {
  border-left: none;
  border-right: none;
  /* Optionally keep horizontal borders: */
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border: none;
}

.last-clicked.error {
  background-color: rgb(248, 248, 146);
}
